# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# directories and files created during the installation
AssociationUtils/
Mt2/
RootCoreBin/
SUSYTools/
SusyCommon/
SusyNtuple/
TauAnalysisTools/
xAODMuon/
install.log
rcSetup.csh
rcSetup.sh
.RootCoreBin
